name: tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Fetch latest move-tools testrunner binary
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: "dfinance/move-tools"
          version: "tags/0.9.10"
          file: test-runner-linux

      - name: set executable permissions
        run: sudo chown runner ./test-runner-linux && chmod +x ./test-runner-linux

      - name: Test
        run: ./test-runner-linux --sender 0x1 --modules ./stdlib/ --modules ./modules/ tests
